{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% block content %}
<div class="row">
      <div class="card_header">
        Войти на сайт
      </div>
      <div class="card_body">
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert">
          {{ error|escape }}
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert">
          {{ error|escape }}
        </div>
        {% endfor %}
        {% endif %}
        <form method="post" {% if action_url %} action="{% url action_url %}" {% endif %}>

          {% csrf_token %}
			


          {% for field in form %}
          <div class="form_group" {% if field.field.required %} aria-required="true" {% else %} aria-required="false" {% endif %}>
            <label for="{{ field.id_for_label }}">
              {{ field.label }}
              {% if field.field.required %}
              <span class="required text_danger">*</span>
              {% endif %}
            </label>
            <div>
              {{ field|addclass:'form-control' }}
              {% if field.help_text %}
              <small id="{{ field.id_for_label }}-help" class="form_text">
                {{ field.help_text|safe }}
              </small>
              {% endif %}
            </div>
          </div>
          {% endfor %}
          <div class="btn_div">
            <button type="submit" class="btn_main">
              Войти
            </button>
          </div>
        </form>
  </div> <!-- col -->
</div> <!-- row -->
{% endblock %}