{% extends 'base.html' %}
{% block title %}Вы вышли из системы{% endblock %}
{% block content %}

        <div class="row">

              <div class="card_header">
                Изменить пароль
              </div>
      
                <form class="form_main" method="post" action="">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  <div class="form_group">
                    <label for="id_old_password">
                      Старый пароль
                      <span class="required text_danger">*</span>
                    </label>    
                    <input type="password" name="old_password" autofocus class="form-control" required id="id_old_password">
                  </div>
                  <div class="form_group">
                    <label for="id_new_password1">
                      Новый пароль
                      <span class="required text_danger">*</span>
                    </label>    
                    <input type="password" name="new_password1" class="form-control" required id="id_new_password1">
                      <small id="id_new_password1-help" class="form_text">
                        <ul><li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Ваш пароль не может быть одним из широко распространённых паролей.</li><li>Ваш пароль не может состоять только из цифр.</li></ul>
                      </small>
                  </div>
                  <div class="form_group">
                    <label for="id_new_password2">
                      Подтверждение нового пароля
                      <span class="required text_danger">*</span>
                    </label>    
                    <input type="password" name="new_password2" class="form-control" required id="id_new_password2">
                  </div>
                  <div class="btn_div">
                    <button type="submit" class="btn_main">
                      Изменить пароль
                    </button>
                  </div>
                </form>

        </div> <!-- row -->


{% endblock %}