{% extends 'base.html' %}
{% block title %}Сбросить старый пароль{% endblock %}
{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card_header">
            Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
          </div>
          <div class="card_body">
            <form method="post" action="{% url 'users:password_reset_form' %}">

              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <div class="form_group">
                <label for="id_email">
                  Адрес электронной почты
                  <span class="required text-danger">*</span>
                </label>
                <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
              </div>
              <div class="col">
                <button type="submit" class="btn_main">
                  Сбросить пароль
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}