{% extends 'base.html' %}
{% block title %}Восстановление пароля завершено{% endblock %}
{% block content %}
    <main>
      <div class="container"> 
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card_header">
                Восстановление пароля завершено
              </div>
              <div class="card_body">
                <p>Ваш пароль был сохранен. Используйте его для входа</p>
                <a href="../users/login.html">войти</a>
              </div> 
            </div> 
          </div>
        </div> 
      </div>
    </main>
{% endblock %}