<div class="container">
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; первая</a>
      <a href="?page={{ page_obj.previous_page_number }}&show_count={{ show_count }}&show_sort={{ show_sort }}">назад</a>
      {% endif %}
  
      <span class="current-page">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
      </span>
  
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}&show_count={{ show_count }}&show_sort={{ show_sort }}">Вперед</a>
      <a href="?page={{ page_obj.paginator.num_pages }}&show_count={{ show_count }}&show_sort={{ show_sort }}">последняя &raquo;</a>
      
      {% endif %}
    </span>
  </div>
</div>